.home {
  padding: 0 10px;
  padding-top: 20px;
  color: var(--letter);
}

.blockInformation {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;
}

.blockInformation:first-child {
  margin-bottom: 10px;
}

.blockInformation > div {
  display: flex;
  align-items: center;
}

.home svg {
  width: 40px;
  height: 40px;
}

.home a {
  color: var(--letter);
  text-decoration: none;
}

.home h3 {
  font-weight: normal;
}

.home span {
  font-weight: bold;
}

.blockButton {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--profile);
  transition: 0.3s background-color;
}

.blockButton:first-child {
  margin-right: 10px;
}

.blockButton:last-child {
  min-width: 150px;
}

.blockButton a {
  transition: 0.2s color;
}
.blockButton:hover {
  background-color: rgb(236, 0, 0);
}

.blockButton:hover a{
  color: white;
}

@media (max-width: 500px) {
  html {
    font-size: 0.5rem;
  }
  .blockButton:last-child {
    min-width: 85px;
  }
  .home svg {
    width: 20px;
    height: 20px;
  }
}
