input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.contador {
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding: 0px 8px;
  border-radius: 14px;
  border: 1px solid lightgrey;
  transition: all 250ms;
  cursor: pointer;
  font-size: 13px;
}

.contador-valor {
  font-size: 15px;
  position: relative;
  top: 3px;
}

.operador {
  font-size: 20px;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
}

#stock {
  width: 45px;
  border: 0px;
  text-align: center;
}
