header {
  position: fixed;
  top: 0;
  height: 72px;
  width: calc(100vw - 296px);
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  padding: 0px 20px;
}

header > * {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-title {
  color: white;
}

.header-form {
  background-color: #222;
}
.header-form input {
  width: 100%;
  border-radius: 14px;
  border: solid 2px #aaa;
  padding: 4px 8px;
  width: 240px;
  background-color: #222;
  color: #aaa;
}

.header-form input::placeholder {
  color: #aaa;
}

.header-form button {
  background-color: transparent;
  border: none;
  position: relative;
  right: 30px;
  top: 8px;
  font-size: 10px;
}

.header-left {
  gap: 10px;
}

@media (max-width: 1024px) {
  header {
    width: 100vw;
  }
}
