* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow: hidden;
}

body {
  background-color: #222222;
}

.App {
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/*MODO OSCURO (predeterminado) CLASES COLORES*/

.colorItems {
  background-color: #2b2b2b;
}

.colorBotonesUsuario {
  background-color: #494f51;
  color: white;
}

.colorPrincipal {
  background-color: #222222;
  color: white;
}

.colorBuscadores {
  background-color: #333333;
  color: white;
  outline-style: none;
  border: 1px solid lightgrey;
}

/*MODO CLARO CLASES COLORES*/

.colorPrincipalClaro {
  background-color: white;
}

.colorItemsClaro {
  background-color: red;
}

.colorBotonesUsuarioClaro {
  background-color: tomato;
}

.colorBuscadoresClaro {
  background-color: green;
}
