* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  position: relative;
  min-height: 100vh;
}

/* CLASES GLOBALES DESDE NEW PRODUCT */
.new-product-form-container{
  padding: 20px;
  background-color: #eee;
}
.new-product-form-container h3 {
  margin: 15px 0px
}
/* ELEMENTOS DE LOS FORMS */
.new-product-form-container p {
  font-size: 14px;
  position: relative;
  top: 16px
}
.new-product-form-container input,
.new-product-form-container textarea,
.new-product-form-container select {
  border-radius: 14px;
  border: 2px solid lightgrey;
  padding: 4px 8px;
}
.new-product-form-container input {
  width: 240px;
}
.new-product-form-container textarea {
  width: 540px;
  height: 120px;
  padding: 8px 12px;
}
.p-contador {
  width: 120px;
}
/* ELEMENTOS DE LA MINI GALERIA DE IMAGENES */
.div-img-cargada {
  display: flex;
  background-color: #ccc;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 8px;
  width: 540px;
}
.div-img-picture {
  height: 42px;
  border-radius: 10px;
}
.div-img-url {
  position: relative;
  font-size: 13px;
  top: 13px;
  left: 10px;
}
.div-img-quitar {
  position: relative;
  top: 6px;
  right: -210px;
}